// @import 'mixins';

:host {

  ion-header {
    ion-toolbar {
      --background: var(--bd-color-primary);

      ion-title {
        text-align: center;
        color: var(--bd-color-primary-contrast);
        padding: 0px 5px;
        font-size: 18px;
        font-weight: 400;
      }
    }
  }

  ion-content {

    .validation-summary {
      background: rgba(255, 90, 90, 0.05);
      box-shadow: 0 2px 2px 0 rgba(255, 90, 90, 0.14), 0 3px 1px -2px rgba(255, 90, 90, 0.2), 0 1px 5px 0 rgba(255, 90, 90, 0.12);

      ion-card-header {
        padding: 8px;
        font-size: 13px;
        color: var(--bd-danger-color);
      }

      ion-card-content {
        padding: 0 8px 8px;
        font-size: 13px;
        color: var(--bd-danger-color);

        h2 {
          font-size: 13px;
          color: var(--bd-danger-color);
        }

        ul {
          margin: 0px;
        }
      }
    }

    form {
      margin: 10px;
      padding: 10px 0px;
      background: var(--bd-light-color);

      ion-item {
        margin-bottom: 8px;
        padding: 0px 16px;
        --inner-padding-end: 0;
        --padding-start: 0;
        --border-style: none;
        --highlight-height: 0;

        ion-label {
          margin: 8px 0px;
          font-weight: 300;
          font-size: 13px;
          color: var(--bd-body-color);

          span {
            &.required {
              padding-left: 3px;
              color: var(--bd-danger-color);
              font-weight: 300;
            }
          }
        }

        .form-item {
          --padding-start: 8px;
          --padding-end: 6px;
          border: 1px solid var(--bd-light-color-3);
          background: #fcfcfc;
          font-weight: 400;
          font-size: 15px;
          color: var(--bd-dark-color);

          input,
          textarea {
            margin: 0px;
            border: none;
          }

          .datetime-text {
            border: none;
          }

          .text-input-clear-icon {
            background-size: 18px;
            right: 0;
          }
        }

        p {
          margin: 4px 0px 0px;
          font-size: 12px;
          text-align: left;
          width: 100%;
        }

        [item-content] {
          width: 100%;

        }

        &.item-select {
          .ion-select-clear-control {

            margin: 0 0 0 10px;
            width: 36px;
            height: 100%;
            z-index: 10;

            ion-button {

              --padding-start: 0;
              --padding-end: 0;
              position: absolute;
              right: 1px;
              top: 32px;
              width: 36px;
              height: 36px;
              --background: var(--bd-light-color-3);
              --color: var(--bd-danger-color);
              --border-radius: 0;
              margin: 0;

              border: 1px solid #f0f0f0;

            }
          }
        }

        &.item-has-focus {
          ion-label {
            color: var(--bd-primary-color);
          }

          .form-item {
            border-color: var(--bd-primary-color);
          }
        }

        &.invalid {
          ion-label {
            color: var(--bd-danger-color);
          }

          .form-item {
            border-color: var(--bd-danger-color);
          }

          ryaa-multi-level-select {
            --ryaa-multi-level-select-border-color: var(--bd-danger-color);

            ion-toolbar {}
          }
        }

      }

    }

  }

  ion-footer {
    ion-toolbar {
      --padding-top: 0;
      --padding-bottom: 0;
      --padding-start: 0;
      --padding-end: 0;
      --min-height: 44px;

      ion-grid {
        padding: 0px;

        ion-row {
          ion-col {
            padding: 0px;

            ion-button {
              margin: 0;
              min-height: 44px;
            }
          }
        }
      }
    }
  }

}